<div class="text-center">
  <h1 class="title">{{title}}</h1>
  <h2 class="bg-info">{{contents}}</h2>
  <p>Created by {{user.name}} on {{date_created}}</p>

  {{#if logged_in}}
  <!-- Comment Form --> 
  <div class="col-sm-2"></div>
  <form class="form-horizontal commentForm">
    <div class="form-group">
        <label class="control-label col-sm-2" for="comment">Leave a Comment:   </label>
      <div class="col-sm-4">
        <textarea class="form-control" id="commentContent" name="commentContent" dataId="{{id}}"></textarea>
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  {{else}}
  <!-- Form that is not submittable --> 
  <div class="col-sm-2"></div>
  <form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="blogContent">Leave a Comment:   </label>
      <div class="col-sm-4">
        <textarea class="form-control" id="commentContent" name="commentContent" readonly>Please Login to leave a comment.</textarea>
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary disabled">Submit</button>
      </div>
    </div>
  </form>
  {{/if}}

  {{#each comments as |comment| }}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="comment col-sm-6">
        <div class="commentHeader">
          <h2>
              <span class="glyphicon glyphicon-user"></span> {{comment.user.name}} 
          </h2>
        </div>
        <div class="commentBody">
          <h4>{{comment.contents}}</h4>
        </div>
        <div class="commentFooter">
          <p> Commented on {{format_date comment.date_created}}</p>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  {{/each}}

 </div>

<script src="/js/comment.js"></script>